.git
.gitignore
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
lambda_functions/*.zip
lambda_layers/*.zip
lambda_layers/terraform_tools
lambda_layers/security_tools
venv
env
__pycache__
*.pyc
.DS_Store
.vscode
.idea
README.md
